.alert-box {
  padding : 20px;
  border-radius : 5px;
  background : rgb(137, 137, 219);
  display : none;
}

.inputSomething {

  padding : 10px;
  border-radius : 5px;
  background : rgb(235, 162, 179);
  display : none;
}

.yellow-bg {
  background-color : rgb(255, 249, 136);
  padding : 15px;
  border-radius : 5px;
}